@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.servicesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;

}

.servicesContainer h2 {
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 30px;
  text-align: left;
  color: rgba(160, 107, 107, 0.785);
  font-family: 'Gantari', sans-serif;
}

.serviceItem {
    display: flex;
    flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 20px;
}

.serviceItem:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.serviceTitle {
  font-size: 4.5em; /* Increase the font size */
  font-weight: 900; /* Make it bolder */
  margin-bottom: 30px; /* Increase the margin for better spacing */
  text-align: left; /* Align to the left */
  color: rgba(160, 107, 107, 0.785); /* Use the color scheme from the rest of the site */
  font-family: 'Gantari', sans-serif; /* Use a modern font */
}

.serviceContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    font-size: 1.2em;
    line-height: 1.6;
}

.textContent {
    flex: 1;
}

.imageRight {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 600px; /* Increase the max-height to make it taller */
    margin-left: 20px;
}