@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.servicesContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  padding: 40px 20px;
  color: white;
  font-family: 'Manrope', sans-serif;
}

.servicesContainer h2 {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 40px;
  text-align: center;
  color: white;
  font-family: 'Gantari', sans-serif;
}

.serviceItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 30px 0;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.serviceItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.serviceTitle {
  font-size: 3.5em;
  font-weight: 900;
  margin-bottom:5px; 
  color: white;
  font-family: 'Manrope', sans-serif;
}

.serviceContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-size: 1.1em;
  line-height: 1.6;
}

.textContent {
  flex: 1;
  font-size: 30px;
}

.imageRight {
  width: 100%;
  height: auto;
  max-width: 350px;
  object-fit: cover;
  border-radius: 10px;

}

@media (max-width: 768px) {
  .servicesContainer h2 {
    font-size: 2em; /* Adjust font size for smaller screens */
  }

  .serviceTitle {
    font-size: 2em; /* Adjust font size for smaller screens */
  }

  .serviceContent {
    flex-direction: column; /* Stack content vertically on smaller screens */
    gap: 10px; /* Adjust gap for smaller screens */
  }

  .textContent {
    font-size: 1em; /* Adjust font size for smaller screens */
  }

  .imageRight {
    width: 100%; /* Make image full width on smaller screens */
    height: auto; /* Maintain aspect ratio */
  }
}