@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* General styles */
.body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Space Grotesk', sans-serif; /* Directly set the font-family */
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
  cursor: pointer; /* Add cursor pointer */
}

.arrow {
  transition: transform 0.3s ease;
  display: inline-block;
}

.listItem.open .arrow {
  transform: rotate(180deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out;
  padding: 0 20px; /* Adjust padding for animation */
}

/* ... Hero 1 ... */

.hero_1 {
  font-family: 'PT Serif', serif;
  border-radius: 0px 0px 10px 10px;
  font-size: 45px;
  background-color: #efedda;
  color: rgba(160, 107, 107, 0.785);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  overflow: hidden;
  height: 600px;
  width: 100%;
}

/* ... Hero 2 ... */

.hero_2 {
  font-family: 'Gantari', sans-serif;
  color: rgba(160, 107, 107, 0.785);
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

/* ... Hero 3 ... */

.hero_3 {
  font-family: 'Gantari', sans-serif;
  border-radius: 10px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  color: rgba(160, 107, 107, 0.785);
  background-color: #efedda;
}

.list_container {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  list-style: none;
}

.listItem {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
 
}

.listItem.open .content {
  max-height: 1000px; /* Set an appropriate max-height */
  padding: 10px 20px; /* Add padding for animation */
}

/* ... Hero 4 ... */

.hero_4 {
  font-family: 'Gantari', sans-serif;
  font-size: 40px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(160, 107, 107, 0.785);
  
}

.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_4 h2 {
  font-weight: 100;
}

.clients_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.bitcoin_brainiac, .vistaview {
  width: 300px;
  height: auto;
  transition: transform 0.3s;
}

.client_RAP {
  width: 150px;
  height: auto;
  transition: transform 0.3s;
}

.client_RAP:hover, .vistaview:hover, .bitcoin_brainiac:hover {
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  .hero_1 {
    font-size: 30px;
  }

  .clients_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
